<%= image_tag("Misc_Map_400645.jpg", :usemap => "#map") %>

<map name="map">
  <% @countries.each do |country| %>
    <%= map_area country %>
  <% end %>
</map>

<div id="country-info" style="display:none">
</div>