<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%#= link_to image_tag("Misc_Map_400645.jpg", :class => 'logo_img'), '#', id: "logo" %>
            <ul class="nav pull-right ">
              <li><%= link_to "Home",  pages_home_path %></li>
              <li><%= link_to "About",  pages_about_path %></li>              
            </ul>
          
        </div>
      </div>
</header>